* {
    margin: 0;
}

.menu {
    display: flex;
    width: 100%;
    background-color: black;
    display: flex;
    position: fixed;
    text-align: center;
    justify-content: space-between;
}

div.menu .menu-bo {
    display: flex;
    position: relative;
}

div.menu .menu-con {
    display: none;
    background-color: white;
    color: white;    
    position: absolute;
}
a {
    text-decoration: none;
    color: blanchedalmond;
    padding: 15px;
}

a:hover {
    background-color: rgb(202, 201, 201);
    color: black;
}

.item:hover .menu-con{
    background-color: rgb(202, 201, 201);
    display: block;
    color: black;
}
.item:hover .item-con{
    background-color: rgb(202, 201, 201);
    display: block;
    color: black;
    top: 100%;
}

div.search {
    text-align: center;
    padding: 15px;
}

div.search:hover {
    background-color: rgb(248, 51, 51);
}